@{
	ViewData["Title"] = "Index";
}



<div>

	<h1>Car Price App</h1>

	<ul>
		<li>Umožňuje uložit modely aut do databáze.</li>
		<li>Načítání XML souborů do databáze.</li>
		<li>Výpočet ceny a ceny s DPH dle modelu prodaných o víkendu.</li>
	</ul>
</div>