@{
	ViewData["Title"] = "Index";
}


<div>

	<h1>Car Price App</h1>

	<ul>
		<li>Umožňuje Uložit nebo nahrát Auta z DB.</li>
		<li>Načítání XML souborů.</li>
		<li>Výpočet ceny dle modelu.</li>
	</ul>
</div>