@{
	ViewData["Title"] = "Součet Aut";
}

@model IList<Car>

<div>
	<h1>Součet aut.</h1>


	<table>
		<thead>
			<tr>
				<th>
					<table>
						<tr>
							<th>Název Modelu</th>
							<th></th>
						</tr>
						<tr>
							<th>Cena bez DPH</th>
							<th>Cena s DPH</th>
						</tr>
					</table>
				</th>
			</tr>
		</thead>
		<tbody>







		</tbody>






	</table>











</div>